#wrainbo-analytics {
  height: 100%;
  .wrainbo-analytics-main {
    padding: 0em 1em;
    #vizcontainer {
      text-align: center;
      margin-top: 1em;

      svg {
        overflow: hidden;
        margin-top: 80px;
      }

      .textGroup {
        position:relative;
        margin-top: -10em;
        display:none;
        h3 {
          font-size: 2.5em;
          font-weight: 700;
        }
      }
      section {
        background-color: white;
        height:400px;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
      }

      section:nth-child(1) {
        //background-color: $gray;
      }
      section:nth-child(2) {
          width: 30%;
          .assessment_panel_icon {
            //display: none;
          }
          .positive_element{
            margin-left: 1em;
            margin-top: 3em;

            li:before {
                content: "• ";
                color: #ACDD5E;
                font-size: 36px;
                position: relative;
                top: 7px;
            }
          }

          .negative_element{
            margin-left: 1em;

            li:before {
                content: "• ";
                color: #E84D38;
                font-size: 36px;
                position: relative;
                top: 7px;
            }
          }
          ul {
            text-align: left;
            position: relative;
            left: 1em;
            list-style-type: none;
            li {
              margin-top: -1.5em;
            }
          }
          img {
            visibility: hidden;
          }
      }
    }

    form {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);

      .functionGroup,select {
        position: relative;
        top:0.5em;
      }

      .functionGroup {
        float:right;
        position: relative;
        right : 0.3em;
        //background-color: $white;
        button {
          border-radius: 5px;
          background-color: #96A5BE;
          font-size: 0.9em;
          font-family: "LatoWebSemibold";
        }
      }

      select {
        display: inline;
        width:11em;
        position: relative;
        left : 0.3em;

        }
      }
    }
}

.chart rect {
  fill: steelblue;
}

.chart rect:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

// .chart path,
.chart line {
  fill: none;
  stroke: steelblue;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.attr_hint_panel {
  h5 {
    text-align: center;
    color: white;
  }
  h6 {
    color: $whiteLine;
  }
  p {
    color: white;
  }
}
