.footer {
  background-color: white;
  position: relative;
  // height: 3em;
  .logo {
    width: 6em;
    padding: 0.5em 0em 0.5em 0.5em;
  }
  section {
    position: absolute;
    bottom: 0;
    right:0;
    a {
      //margin-bottom: 0.5em;

      img {
        width: 2.5em;
      }
    }
  }
}
