//Utility
@import './components/_utility';
@import './_latofonts';

h1,h2 { font-family: 'LatoWebBold', Verdana, Geneva, sans-serif; }
h3,h4,h5,h6 { font-family: 'LatoWebSemibold', Verdana, Geneva, sans-serif; }
p,span {  font-family: 'LatoWebLight', Calibri, Candara, Optima, Arial, sans-serif; }

//Page
@import '_home';
@import '_gameplay';
@import '_aboutus';
@import '_product';
@import '_analytics';
@import '_platform';

//Layout
@import '_header';
@import '_footer';

//CMS
@import './cms/_cmsMain';
@import './cms/_cmsSpell';
@import './cms/_cmsLevel';

//General
.breakline {
  margin: 1em 0em;
  box-shadow: none !important;

}
