#wrainbo-aboutus {
  #wrainbo-aboutus-main {
    @include SetUpBG("../../image/aboutus/bg-aboutus.png");
    position: relative;
    text-align: center;

    .aboutUsMainIcon {
        max-width:20em;
        padding-top: 4em;
        @media (max-width:500px) {
          max-width:15em;

        }
    }

    h1 {
      vertical-align: middle;
      margin: 2em 0em 1.5em 0em;
    }

    h5 {
      color :#7f8c8d;
    }
    a {

      img {
        max-width:8em;
      }
    }

  }

  #wrainbo-aboutus-detail {
    //@include SetUpBG("../../image/aboutus/bg-aboutus-detail.png");
    background-color: #eeeeee;
    .row {
      padding-bottom: 1em;
      .wrainbo-aboutus-detail-text {

        margin: 10em 0em 7em 0em;
        @media screen and (max-width: 39.9375em) {
          margin-top: 1em;
        }

      }
      img {
        margin: 0 auto;

        display: block;
        width:20em;
      }
    }
  }

  #wrainbo-aboutus-pricetable {
    background: black;
    table {
      td {
        text-align: center;
        vertical-align: middle;
      }
      img {
        max-width:0.5em;
      }
    }
  }

  #wrainbo-aboutus-contact {
    //@include SetUpBG("../../image/aboutus/bg-aboutus-contact.jpg");
    background-color: #c9c9c9;
    .worker-avatar {
        margin-bottom: 0em;
        max-width: 60%;
    }

    .row {
      padding-top: 1em;
      h3 {
        margin-top: 3em;
      }

      section {
        margin-bottom: 1em;
        img {
          width: 1.3em;
        }
        a {
          margin-left: 1em;
          -moz-text-decoration-style: wavy; /* Code for Firefox */
          text-decoration: underline;
          color: black;
        }
      }

    }

  }
}
